<main id="block-signin">

  <h2>ログインする</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="col">
        <div><%= f.label :email, value:"メールアドレス" %></div>
        <div><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"@必須" %></div>
      </div>
    </div>

    <div class="field">
      <div class="col">
        <div><%= f.label :password, value: "パスワード" %></div>
        <div><%= f.password_field :password, autocomplete: "current-password", placeholder: "６文字以上" %></div>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field" id="remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions" id="block-submit">
      <%= f.submit "ログインする" %>
    </div>
  <% end %>
<div>
  <%= render "users/shared/links" %>
</div>
</main>
