
<% if user_signed_in? || admin_signed_in? %>

  <div id="notice"><%= notice %></div>
  <% if user_signed_in? %>
    <section id="block-userinfo">
      <h2>ユーザー情報</h2>
      <div><%= image_tag "level#{ @user.rank_id }.png" %></div>
      <p><%= @user.nickname %></p>
      <p id="total-score">総合スコア：<%= @total_score %></p>
    </section>
  <% end %>
  <!-- 記事一覧のブロック -->
  <main id="block-articles">
    <% @all_rank.times do |i| %>
      <% level = i %>
      <section class="block-levels">
        <div class="level">
          <h2>レベル<%= level %></h2>
        </div>
        <% 6.times do |o| %>
          <section class="block-genres">
            <div class="genre">
              <h3><%= @genre_names[o] %></h3>
            </div>
            <ul>
            <% articles = Article.where(genre_id: o, rank_id: level) %>
            <% articles.preload(:scores).each do |article| %>
              <li>
                <h4><%= article.title %></h4>
                <% if user_signed_in? %>
                  <% score = Score.find_by(user_id: @user.id, article_id: article.id) %>
                  <% unless score.nil? %>
                    <p id="score-<%= article.id %>">SCORE:<%= score.score %></p>
                  <% else %>
                    <p>SCORE:0（未挑戦）</p>
                  <% end %>
                <% end %>
                <div><%= link_to '記事を読む', article_path(article.id) %></div>
                <div><%= link_to '問題', article_quests_path(article.id) %></div>
              </li>
            <% end %>
            </ul>
          </section>
        <% end %>
    </section>
      <% end %>
    <% if admin_signed_in? %>
      <%= link_to '記事を作成する', new_article_path %>
      <%= link_to '問題を作成する', new_makequest_path %>
    <% end %>
  </main>

<% else %>

<% end %>