
<% if user_signed_in? || admin_signed_in? %>

  <div id="notice"><%= notice %></div>
  <% if user_signed_in? %>
    <section id="block-userinfo">
      <h2>ユーザー情報</h2>
      <div>称号写真</div>
      <p><%= @user.nickname %></p>
      <p>称号：<%= @user.rank_id.name %></p>
      <p>総合スコア：<%= @total_score %></p>
    </section>
  <% end %>
  <!-- 記事一覧のブロック -->
  <main id="block-articles">
    <% @all_rank.times do |i| %>
      <% level = i + 1 %>
      <section class="block-levels">
        <div class="level">
          <h2>レベル<%= level %></h2>
        </div>
        <% 9.times do |o| %>
          <section class="block-genres">
            <div class="genre">
              <h3><%= @genre_names[o] %></h3>
            </div>
            <ul>
            <% articles = Article.where(genre: o, level: level) %>
            <% articles.each do |article| %>
              <li>
                <h4><%= article.title %></h4>
                <% if user_signed_in? %>
                  <% score = Score.find_by(user_id: @user.id, article_id: article.id) %>
                  <% unless score.nil? %>
                    <p>SCORE:<%= score.score %></p>
                  <% else %>
                    <p>SCORE:0</p>
                  <% end %>
                <% end %>
                <div><%= link_to 'Show', article %></div>
                <div><%= link_to 'Show', article %></div>
              </li>
            <% end %>
            </ul>
          </section>
        <% end %>
      <% end %>
    </section>
    <% if admin_signed_in? %>
      <%= link_to '記事を追加する', new_article_path %>
    <% end %>
  </main>

<% else %>

<% end %>