<p id="notice"><%= notice %></p>
<% if admin_signed_in? %>
<div id="link-nav">
  <div><%= link_to '問題文をセットする', new_article_quest_path(@article) %></div>
  <div><%= link_to 'この記事を編集する', edit_article_path(@article) %></div>
</div>
<% end %>
<main id="block-article">
  <article>
    <div id="block-meta">
      <h1><%= @article.title %></h1>
    </div>
    <section id="block-content">
      <h2>さあ、頑張ろう！</h2>
      <%= sanitize @article.content, attributes: %w(href class id style src), tags: %w(h1 h2 h3 h4 a img p div section span b strong ul li) %>
    </section>
  </article>
  <aside>
    <div id="block-link">
    <% if user_signed_in? %>    
      <h2>問題に挑戦しよう！</h2>
      <p>以下のリンクから、この記事に基づいた問題に挑戦することができます。</p>
      <div id="link">
        <div><%= link_to '問題に挑戦する', article_quests_path(@article) %></div>
        <div><%= link_to '一覧に戻る', articles_path %></div> 
      </div>
    </div>
    <% end %>
    <% if admin_signed_in? %>
    <div id="block-link">
      <h2>記事は以上でした。</h2>
      <div id="link">
        <div><%= link_to '問題文をセットする', new_article_quest_path(@article), id:"btn-quest" %></div>
        <div><%= link_to 'この記事を編集する', edit_article_path(@article), id:"btn-edit" %></div>
        <div><%= link_to 'この記事を削除する', article_path(@article), method: :delete, id:"btn-destroy" %></div>
        <div><%= link_to '一覧に戻る', articles_path, id:"btn-index" %></div> 
      </div>
    </div>
    <% end %>
  <aside>
</main>