<p id="notice"><%= notice %></p>

<main id="block-makequest">

  <section id="block-index">
    <h1>問題一覧です</h1>
    <div id="block-select-genre">
      <ul>
        <% Genre.all.each do |g| %>
          <li id="tab-<%= g.id %>" class="tab"><%= g.name %></li>
        <% end %>
      </ul>
    </div>
    <% 9.times do |i| %>
    <section id="genre-<%= i %>" class="genres">
      <h2>ジャンル：<%= Genre.find_by(id: i).name %></h2>
      <ul class="quests">
        <% instance_variable_get("@genre#{ i }").each do |q| %>
        <li class="quest">
          <section>
            <h3>正答：<%= q.answer %></h3>
            <div class="explain">解説：<%= q.explain %></div>
            <div class="meta">
              <p>レベル：<%= Rank.find_by(id: q.rank_id).name %></p>
              <p>ジャンル：<%= Genre.find_by(id: q.genre_id).name %></p>
            </div>
            <div class="link">
              <%= link_to '詳細', makequest_path(q.id) %>
              <%= link_to '編集', edit_makequest_path(q.id) %>
              <%= link_to '削除', makequest_path(q.id), method: :delete, data: { confirm: 'マジで削除しますか?' } %>
            </div>
          </section>
        </li>
        <% end %>
      </ul>

    </section>
    <% end %>
  </section>

</main>
  <%= link_to '新しい問題文を作成', new_makequest_path %>
  <%= link_to '問題一覧へ戻る', articles_path %>
