<!DOCTYPE html>
<html>
  <head>
    <title>Kanken1Monpi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
  </head>
  <body id="body">
  <header id="wrap-header" class="wrap">
    <div id="inner-header" class="inner">
      <div id="header-logo">
        <%= link_to root_path do %><h1><%= image_tag 'monpi-logo.png' %></h1><% end %>
      </div>
      <div id="header-nav">
        <ul>
          <% if user_signed_in? %>
            <li>ユーザーです</li>
            <li class="user-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li>管理者です</li>
            <li class="user-link"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <li class="user-link"><%= link_to "記事を作成する", new_article_path %></li>
            <li class="user-link"><%= link_to "問題文を作成する", new_makequest_path %></li>
          <% else %>
            <li>ゲストユーザー</li>
            <li class="user-link"><%= link_to "新規登録", new_user_registration_path %></li>
            <li class="user-link"><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <div id="wrap-main" class="wrap">
    <div id="inner-main" class="inner">
      <%= yield %>
    </div>
  </div>
  <footer id="wrap-footer" class="wrap">
    <div id="inner-footer" class="inner">
      <div id="copyright">
        <p><small>Copyright 2021 &copy;漢検１級の門扉.</small></p>
      </div>
    </div>
  </footer>
  <div id="menu-btn">
    <span class="menu-control-open" id="menuControlOpen">
      <span class="drawer-line"></span>
    </span>
  </div>
  <div class="menu" id="menu-wrap">
      <div class="menu-inner">
          <nav>
              <ul>
                <% if user_signed_in? %>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <% elsif admin_signed_in? %>
                  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                  <li><%= link_to "記事を作成する", new_article_path %></li>
                  <li><%= link_to "問題文を作成する", new_makequest_path %></li>
                <% else %>
                  <li><%= link_to "新規登録", new_user_registration_path %></li>
                  <li><%= link_to "ログイン", new_user_session_path %></li>
              <% end %>
              </ul>
          </nav>
      </div>
  </div>        
</body>
</html>
