<main id="block-signin">


<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <div class="col">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ニックネーム" %>
    </div>
  </div>

  <div class="field">
    <div class="col">
      <div><%= f.label :email, value:"メールアドレス" %></div>
      <div><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"@必須" %></div>
    </div>
  </div>

  <div class="field">
    <div class="col">
      <div><%= f.label :password, value: "パスワード" %></div>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <div><%= f.password_field :password, autocomplete: "new-password" %></div>
    </div>
  </div>

  <div class="field">
    <div class="col">
      <div><%= f.label :password_confirmation, value: "パスワード確認" %></div>
      <div><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
    </div>
  </div>
  <input name="user[rank_id]" type="hidden" value="0">
  <div class="actions">
    <%= f.submit "新規登録する" %>
  </div>
<% end %>


</main>

<%= render "users/shared/links" %>

